html, body {
    height: 100%;
}

h1 {
    margin: 0;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    min-height: 100%;
    border-left: 2px darkgray solid;
    border-right: 2px darkgray solid;
    padding: 10px;
}

.heading {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border-bottom: 1px lightgray solid;
    word-wrap: break-word;
}

.content-wrapper {
    padding: 20px;
    border-radius: 10px;
    border: 1px lightgray solid;
    margin-top: 10px;
    transition: all .4s ease-out;
    cursor: default;
}

.schedule-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.content-wrapper h2 {
    margin-top: 0;
}

.content-wrapper:hover {
    border: 1px gray solid;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.content-wrapper a {
    text-decoration: none;
    font-weight: 700;
    color: blue;
    cursor: pointer;
    word-wrap: break-word;
}

.content-schedule {
    min-height: 200px;
}

.content-schedule h2 {
    text-align: center;
}

.content-button {
    
}

.content-button button {
    background-color: red;
    display: block;
    height: 100%;
    background: none;
    border: none;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
    border-radius: 10px;
    transition: all .1s ease-out;
}

.content-button button:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}